.border {
    border: 2px solid var(--ion-color-content-shade);
}

h1,h2{
    font-weight: bold;
}

*{
    font-family: 'Titillium Web', sans-serif;
}

p,li{
    font-size: 18px;
}

#total{
    color: rgb(160, 156, 15);
    font-weight: bold;
}